
/* Featured Section */
#featured {
    padding: 20px;
    margin: 30px;
    border-radius: 10px;
    /* box-shadow: 0 2px 8px rgba(0,0,0,0.1); */
}

.featured h1 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.featured_games h2 {
    font-size: 1.5rem;
    margin: 20px 0 10px 0;
    padding-bottom: 5px;
}

/* Individual Game */
.featured_football_game,
.featured_basketball_game
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}



.date_time {
    font-size: 0.9rem;
    color: #888;
    margin-bottom: 10px;
    position: relative;
    font-style: italic;
}

.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self:center;
    width: 100%;
}

/* Team Section */
.home_team,
.away_team {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
    min-width: 0;
    width: 35%;
    padding: 15px;
}

.away_team {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 35%;
    padding: 15px;
}

.away_team_logo{
    width: 50%;
    justify-content: flex-start;
}

.home_team_name,
.away_team_name {
    font-size: 1.1rem;
    font-weight: bold;
    white-space: nowrap;        /* Prevent breaking */
    overflow: hidden;           /* Hide overflow */
    text-overflow: ellipsis;    /* Add "..." if too long */
    max-width: 150px;           /* Keep consistent max width */
}

/* Logos */
.home_team_logo,
.away_team_logo,
.league_logo {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    object-fit: contain;
    border-radius: 5px;
    margin: 10px;
}

/* Scores */
.score {
    flex: 0 0 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 1.3rem;
    font-weight: bold;
    width: 30%
}

/* Divider Lines */
.line {
    height: 1px;
    background-color: #ddd;
    margin: 10px 0;
}

/* My Teams Section */
#my_teams {
    background-color: #fff;
    margin: 25px;
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.my_teams_head{
    padding: 15px;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../images/marble.png") no-repeat center center/cover;;
    position: relative;


    border-top-left-radius: 20px;   
    border-top-right-radius: 20px;
    overflow: hidden;      
}


.my_team_games {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.my_team{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self:center;
    width: 100%;
}

.my_team .home_team,
.my_team .away_team {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
    min-width: 0;
    width: 35%;
    padding: 15px;
}

/* My Leagues Section */
#my_leagues {
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    /* box-shadow: 0 2px 8px rgba(0,0,0,0.1); */
}


#my_leagues h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.my_league {
    margin-bottom: 20px;
}

.my_league_list {
    border-radius: 25px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.league_name {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.2rem;
}

.pl{
    background: url("../images/pl-bg.png") no-repeat center center/cover;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    color: white;
    height: 25%;
    padding: 7px;
}

.laliga{
    background: url("../images/laliga-bg.png") no-repeat center center/cover;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    color: white;
    height: 25%;
    padding: 7px;
}

.nba{
    background: url("../images/nba-bg.png") no-repeat center center/cover;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    color: white;
    height: 25%;
    padding: 7px;
}

.nba{
    background: url("../images/nba-bg.png") no-repeat center center/cover;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    color: white;
    height: 25%;
    padding: 7px;
}

.euroleague{
    background: url("../images/euroleague.png") no-repeat center center/cover;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    color: white;
    height: 25%;
    padding: 7px;
}


.my_league_teams {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    margin: 10px;
}

.team-score {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
}

/* Responsive */
@media screen and (max-width: 768px) {
    .main {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .score {
        font-size: 1.1rem;
    }

    .home_team_logo,
    .away_team_logo {
        width: 40px;
        height: 40px;
    }
}
