.login {
    display: flex;
    flex-direction: column;
}

.login .login_head {
    display: flex;
    flex-direction: column;
}

.login .login_head img {
    width: 80px;
}

.login .login_head h1 {
    font-size: 1.5rem;
}

.login form {
    display: flex;
    flex-direction: column;
}

.login form label {
    margin-bottom: 0.25rem;
}

.login form input {
    padding: 0.5rem;
}

.login form button {
    margin-top: 1rem;
}
