.profile_head {
    display: flex;
}

.profile_head .profile_pic {
    width: 80px;
}

.profile_head .profile_pic i {
    font-size: 1.5rem;
}

.profile_head .about {
    display: flex;
    flex-direction: column;
}

.profile_head .about .username h1 {
    font-size: 1.5rem;
}

.profile_head .about .name p {
    font-size: 1rem;
}

.email_birthdate {
    display: flex;
    justify-content: space-between;
}

.email_birthdate .email p {
    font-size: 1rem;
}

.email_birthdate .birthdate p {
    font-size: 1rem;
}

.saved_games_profile {
    display: flex;
    flex-direction: column;
}

.saved_games_profile .saved_game {
    margin-bottom: 1rem;
}

.saved_games_profile .saved_game .add_game button {
    padding: 0.5rem 1rem;
}

.saved_games_profile .saved_game .content {
    display: flex;
    flex-direction: column;
}

.saved_games_profile .saved_game .content .competition {
    display: flex;
    align-items: center;
}

.saved_games_profile .saved_game .content .competition img {
    width: 40px;
}

.saved_games_profile .saved_game .content .competition p {
    margin-left: 0.5rem;
}

.saved_games_profile .saved_game .content .game .date_time span {
    font-size: 0.9rem;
}

.saved_games_profile .saved_game .content .game .main {
    display: flex;
    justify-content: space-between;
}

.saved_games_profile .saved_game .content .game .home_team,
.saved_games_profile .saved_game .content .game .away_team {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.saved_games_profile .saved_game .content .game .home_team img,
.saved_games_profile .saved_game .content .game .away_team img {
    width: 50px;
}

.saved_games_profile .saved_game .content .game .score span {
    margin: 0 0.25rem;
}

.view_saved_games {
    text-align: center;
    cursor: pointer;
}

.favorite_teams {
    display: flex;
    flex-direction: column;
}

.favorite_teams .team {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.favorite_teams .team .domestic_league {
    font-weight: bold;
}

.favorite_teams .team .team-abt {
    display: flex;
    align-items: center;
}

.favorite_teams .team .team-abt img {
    width: 40px;
    margin-right: 0.5rem;
}

.view_favorite_teams {
    text-align: center;
    cursor: pointer;
}
