{% extends "layout.html" %}

{% block title %} Your Competitions - FanScape Game Tracker {% endblock %}

{% block content %}
// User are recommended competitions and they can see all of the competitions for the team that they like by sport

<div class="recommended_competitions">
    // Each I'm thinking to add as a square with featuring name and logo in a rounded white box with a black border 
    // add an add + button at the top

    // This is designed as a scrollable row

    <div class="recommended_competition">
        <div class="add_competition"></div>
        <img src="" alt="" class="comp_logo">
        <h4 class="comp_name">FIFA World Cup</h4>
    </div>

    <div class="recommended_competition">
        <div class="add_competition"></div>
        <img src="" alt="" class="comp_logo">
        <h4 class="comp_name">UEFA Champions League</h4>
    </div>

    <div class="recommended_competition">
        <div class="add_competition"></div>
        <img src="" alt="" class="comp_logo">
        <h4 class="comp_name">Italian Serie A</h4>
    </div>

    <div class="recommended_competition">
        <div class="add_competition"></div>
        <img src="" alt="" class="comp_logo">
        <h4 class="comp_name">German Bundesliga</h4>
    </div>

    <div class="recommended_competition">
        <div class="add_competition"></div>
        <img src="" alt="" class="comp_logo">
        <h4 class="comp_name">NBA Finals</h4>
    </div>

    <div class="recommended_competition">
        <div class="add_competition"></div>
        <img src="" alt="" class="comp_logo">
        <h4 class="comp_name">Indian Premier League Cricket</h4>
    </div>

    <div class="recommended_competition">
        <div class="add_competition"></div>
        <img src="" alt="" class="comp_logo">
        <h4 class="comp_name">Rugby World Cup</h4>
    </div>

    <div class="recommended_competition">
        <div class="add_competition"></div>
        <img src="" alt="" class="comp_logo">
        <h4 class="comp_name">French Ligue 1</h4>
    </div>

    <div class="recommended_competition">
        <div class="add_competition"></div>
        <img src="" alt="" class="comp_logo">
        <h4 class="comp_name">Major League Baseball (MLB)</h4>
    </div>

    <div class="recommended_competition">
        <div class="add_competition"></div>
        <img src="" alt="" class="comp_logo">
        <h4 class="comp_name">Australian Open Tennis</h4>
    </div>

</div>

<div class="your_competitions">
    <div class="comp_by_sports">
        <div class="football_competitions">
            // I'm thinking a well designed header banner with a nice gradient or animation 
            // in the background
            <div class="football_competition ucl">

                <div class="football_competion_header">
                   <h1>UEFA Champions League</h1>
                </div>

                <div class="football_competition_games">

                    <div class="football_game">
                        <div class="date_time"><span>Friday, June 15 2025 at 22:00</span></div>

                        <div class="main">

                            <div class="home_team">
                                <img src="" alt="" class="home_team_logo">
                                <h2 class="home_team_name">Real Madrid</h2>
                            </div>

                            <div class="score">
                                <span class="home_score">10</span>
                                <span:></span>
                                <span class="away_score">0</span>
                            </div>

                            <div class="away_team">
                                <img src="" alt="" class="away_team_logo">
                                <h2 class="away_team_name">Barcelona FC</h2>
                            </div>

                        </div>
                    </div>

                    <div class="line"></div>

                    <div class="football_game">
                        <div class="date_time"><span>Friday, June 15 2025 at 22:00</span></div>

                        <div class="main">

                            <div class="home_team">
                                <img src="" alt="" class="home_team_logo">
                                <h2 class="home_team_name">Real Madrid</h2>
                            </div>

                            <div class="score">
                                <span class="home_score">10</span>
                                <span:></span>
                                <span class="away_score">0</span>
                            </div>

                            <div class="away_team">
                                <img src="" alt="" class="away_team_logo">
                                <h2 class="away_team_name">Barcelona FC</h2>
                            </div>

                        </div>
                    </div>



                    
                </div>


            </div>


            <div class="football_competition ligue1">

                <div class="football_competion_header">
                   <h1>Ligue 1</h1>
                </div>

                <div class="football_competition_games">

                    <div class="football_game">
                        <div class="date_time"><span>Friday, June 15 2025 at 22:00</span></div>

                        <div class="main">

                            <div class="home_team">
                                <img src="" alt="" class="home_team_logo">
                                <h2 class="home_team_name">Marseille</h2>
                            </div>

                            <div class="score">
                                <span class="home_score">2</span>
                                <span:></span>
                                <span class="away_score">0</span>
                            </div>

                            <div class="away_team">
                                <img src="" alt="" class="away_team_logo">
                                <h2 class="away_team_name">Lyon</h2>
                            </div>

                        </div>
                    </div>

                    <div class="line"></div>

                    <div class="football_game">
                        <div class="date_time"><span>Friday, June 15 2025 at 22:00</span></div>

                        <div class="main">

                            <div class="home_team">
                                <img src="" alt="" class="home_team_logo">
                                <h2 class="home_team_name">Paris Saint Germain</h2>
                            </div>

                            <div class="score">
                                <span class="home_score">3</span>
                                <span:></span>
                                <span class="away_score">0</span>
                            </div>

                            <div class="away_team">
                                <img src="" alt="" class="away_team_logo">
                                <h2 class="away_team_name">Lille</h2>
                            </div>

                        </div>
                    </div>



                    
                </div>


            </div>
        </div>
        <div class="basketball_competitions">
            
            <div class="basketball_competition euroleague-final">
                <div class="basketball_competion_header">
                   <h1>Euroleague Final</h1>
                </div>

                <div class="basketball_competition_games">

                    <div class="basketball_game">
                        <div class="date_time"><span>Friday, June 15 2025 at 22:00</span></div>

                        <div class="main">

                            <div class="home_team">
                                <img src="" alt="" class="home_team_logo">
                                <h2 class="home_team_name">Real Madrid</h2>
                            </div>

                            <div class="score">
                                <span class="home_score">150</span>
                                <span:></span>
                                <span class="away_score">130</span>
                            </div>

                            <div class="away_team">
                                <img src="" alt="" class="away_team_logo">
                                <h2 class="away_team_name">Barcelona BC</h2>
                            </div>

                        </div>
                    </div>

                    <div class="line"></div>

                    <div class="basketball_game">
                        <div class="date_time"><span>Friday, June 15 2025 at 22:00</span></div>

                        <div class="main">

                            <div class="home_team">
                                <img src="" alt="" class="home_team_logo">
                                <h2 class="home_team_name">Real Madrid</h2>
                            </div>

                            <div class="score">
                                <span class="home_score">90</span>
                                <span:></span>
                                <span class="away_score">89</span>
                            </div>

                            <div class="away_team">
                                <img src="" alt="" class="away_team_logo">
                                <h2 class="away_team_name">Barcelona BC</h2>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<div class="your_saved_competions">
    <h1>Your Saved Competitions</h1>
    
    // For these I am thinking probably square rounded boxes
    <div class="saved_competitions">
        <div class="competition">
            <img src="" alt="" class="comp_logo">
            <p class="comp_name"></p>
        </div>
        <div class="competition">
            <img src="" alt="" class="comp_logo">
            <p class="comp_name"></p>
        </div>
        <div class="competition">
            <img src="" alt="" class="comp_logo">
            <p class="comp_name"></p>
        </div>
        <div class="competition">
            <img src="" alt="" class="comp_logo">
            <p class="comp_name"></p>
        </div>
        <div class="competition">
            <img src="" alt="" class="comp_logo">
            <p class="comp_name"></p>
        </div>
    </div>
</div>

{% endblock %}