{% extends "layout.html" %}

{% block title %} Home - FanScape Game Tracker {% endblock %}

{% block content %}

<div id="featured" class="featured">
    <h1>Featured Games</h1>
    <div class="featured_games">

        <h1>Football Games</h1>
        <div class="featured_football_games" id="featured_football_games">

            <div class="featured_football_game">
                <div class="date_time"><span>Friday, June 15 2025 at 22:00</span></div>

                <div class="main">

                    <div class="home_team">
                        <img src="" alt="" class="home_team_logo">
                        <h2 class="home_team_name">Real Madrid</h2>
                    </div>

                    <div class="score">
                        <span class="home_score">10</span>
                        <span:></span>
                        <span class="away_score">0</span>
                    </div>

                    <div class="away_team">
                        <img src="" alt="" class="away_team_logo">
                        <h2 class="away_team_name">Barcelona FC</h2>
                    </div>

                </div>
            </div>

            <div class="line"></div>

            <div class="featured_football_game">

                <div class="date_time"><span>Friday, June 15 2025 at 22:00</span></div>

                <div class="main">
                    <div class="home_team">
                        <img src="" alt="" class="home_team_logo">
                        <h2 class="home_team_name">Manchester United</h2>
                    </div>

                    <div class="score">
                        <span class="home_score">5</span>
                        <span>:</span>
                        <span class="away_score">0</span>
                    </div>

                    <div class="away_team">
                        <img src="" alt="" class="away_team_logo">
                        <h2 class="away_team_name">Liverpool</h2>
                    </div>
                </div>


            </div>

            <div class="line"></div>

            <div class="featured_football_game">
                <div class="date_time"><span>Friday, June 15 2025 at 22:00</span></div>

                <div class="main">
                    <div class="home_team">
                        <img src="" alt="" class="home_team_logo">
                        <h2 class="home_team_name">Paris Saint Germain</h2>
                    </div>

                    <div class="score">
                        <span class="home_score">4</span>
                        <span>:</span>
                        <span class="away_score">1</span>
                    </div>

                    <div class="away_team">
                        <img src="" alt="" class="away_team_logo">
                        <h2 class="away_team_name">Chelsea</h2>
                    </div>
                </div>

            </div>

            <div class="line"></div>

        </div>


        <h1>Basketball Games</h1>
        <div class="featured_basketball_games" id="featured_basketball_games">

            <div class="featured_basketball_game">
                <div class="date_time"><span>Friday, June 15 2025 at 22:00</span></div>

                <div class="main">

                    <div class="home_team">
                        <img src="" alt="" class="home_team_logo">
                        <h2 class="home_team_name">Lakers</h2>
                    </div>

                    <div class="score">
                        <span class="home_score">150</span>
                        <span:></span>
                        <span class="away_score">125</span>
                    </div>

                    <div class="away_team">
                        <img src="" alt="" class="away_team_logo">
                        <h2 class="away_team_name">Minnesota Timberwolves</h2>
                    </div>

                </div>

            </div>

            <div class="line"></div>

            <div class="featured_football_game">

                <div class="date_time"><span>Friday, June 15 2025 at 22:00</span></div>

                <div class="main">
                    <div class="home_team">
                        <img src="" alt="" class="home_team_logo">
                        <h2 class="home_team_name">Oklhoma City Thunder </h2>
                    </div>

                    <div class="score">
                        <span class="home_score">130</span>
                        <span>:</span>
                        <span class="away_score">90</span>
                    </div>

                    <div class="away_team">
                        <img src="" alt="" class="away_team_logo">
                        <h2 class="away_team_name">Denver Nuggets</h2>
                    </div>
                </div>
            </div>

            <div class="line"></div>

            <div class="featured_football_game">
                <div class="date_time"><span>Friday, June 15 2025 at 22:00</span></div>

                <div class="main">
                    <div class="home_team">
                        <img src="" alt="" class="home_team_logo">
                        <h2 class="home_team_name">Indiana Pacers</h2>
                    </div>

                    <div class="score">
                        <span class="home_score">100</span>
                        <span>:</span>
                        <span class="away_score">93</span>
                    </div>

                    <div class="away_team">
                        <img src="" alt="" class="away_team_logo">
                        <h2 class="away_team_name">Boston Celtics</h2>
                    </div>
                </div>
                
            </div>

            <div class="line"></div>

        </div>

        
        
    </div>
</div>


<div id="my_teams" class="my_teams">
    <h1>My Teams</h1>
    <div class="my_team_games">

        <div class="my_team">
            <div class="home_team my_team_saved">
                <img src="" alt="" class="home_team_logo">
                <h2 class="home_team_name">Manchester United</h2>
            </div>

            <div class="score">
                <span class="home_score">4</span>
                <span>:</span>
                <span class="team_score">0</span>
            </div>

            <div class="away_team">
                <img src="" alt="" class="away_team_logo">
                <h2 class="away_team_name">Manchester City</h2>
            </div>

        </div>

        <div class="my_team">

            <div class="home_team my_team_saved">
                <img src="" alt="" class="home_team_logo">
                <h2 class="home_team_name">Paris Saint Germain</h2>
            </div>

            <div class="score">
                <span class="home_score">2</span>
                <span>:</span>
                <span class="team_score">0</span>
            </div>

            <div class="away_team">
                <img src="" alt="" class="away_team_logo">
                <h2 class="away_team_name">Inter Milan</h2>
            </div>
            
        </div>



    </div>   
</div>

<div id="my_leagues" class="my_leagues">
    <h1>My Leagues</h1>
    <div class="my_league_games">

        <div class="my_football_leagues">
            <div class="my_league">

                <div class="my_league_list">

                    <div class="league_name">
                        <img src="" alt="" class="league_logo">
                        <h2 class="league_name">Premier League</h2>
                    </div>
                    
                    <div class="my_league_teams">
                        <div class="team-score">
                            <div class="home_team my_team_saved">
                                <img src="" alt="" class="home_team_logo">
                                <h2 class="home_team_name">Manchester United</h2>
                            </div>

                            <div class="score">
                                <span class="home_score">4</span>
                                <span>:</span>
                                <span class="team_score">0</span>
                            </div>

                            <div class="away_team">
                                <img src="" alt="" class="away_team_logo">
                                <h2 class="away_team_name">Aston Villa</h2>
                            </div>
                        </div>

                        <div class="team-score">
                            <div class="home_team my_team_saved">
                                <img src="" alt="" class="home_team_logo">
                                <h2 class="home_team_name">West Ham United</h2>
                            </div>

                            <div class="score">
                                <span class="home_score">0</span>
                                <span>:</span>
                                <span class="team_score">1</span>
                            </div>

                            <div class="away_team">
                                <img src="" alt="" class="away_team_logo">
                                <h2 class="away_team_name">Sunderland FC</h2>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="my_league_list">

                    <div class="league_name">
                        <img src="" alt="" class="league_logo">
                        <h2 class="league_name">La Liga</h2>
                    </div>
                    
                    <div class="my_league_teams">

                        <div class="team-score">
                            <div class="home_team my_team_saved">
                                <img src="" alt="" class="home_team_logo">
                                <h2 class="home_team_name">Celta Vigo</h2>
                            </div>

                            <div class="score">
                                <span class="home_score">0</span>
                                <span>:</span>
                                <span class="team_score">1</span>
                            </div>

                            <div class="away_team">
                                <img src="" alt="" class="away_team_logo">
                                <h2 class="away_team_name">Villareal</h2>
                            </div>
                        </div>

                        <div class="team-score">
                            <div class="home_team my_team_saved">
                                <img src="" alt="" class="home_team_logo">
                                <h2 class="home_team_name">Mallorca</h2>
                            </div>

                            <div class="score">
                                <span class="home_score">0</span>
                                <span>:</span>
                                <span class="team_score">2</span>
                            </div>

                            <div class="away_team">
                                <img src="" alt="" class="away_team_logo">
                                <h2 class="away_team_name">Barcelona</h2>
                            </div>
                        </div>


                    </div>

                </div>

            </div>
        </div>

        <div class="my_basketball_leagues">
            <div class="my_league">

                <div class="my_league_list">

                    <div class="league_name">
                        <img src="" alt="" class="league_logo">
                        <h2 class="league_name">National Basketball Association</h2>
                    </div>

                    <div class="my_league_teams">
                        <div class="team-score">
                            <div class="home_team my_team_saved">
                                <img src="" alt="" class="home_team_logo">
                                <h2 class="home_team_name">Boston Celtics</h2>
                            </div>

                            <div class="score">
                                <span class="home_score">100</span>
                                <span>:</span>
                                <span class="team_score">115</span>
                            </div>

                            <div class="away_team">
                                <img src="" alt="" class="away_team_logo">
                                <h2 class="away_team_name">Lakers</h2>
                            </div>
                        </div>

                        <div class="team-score">
                            <div class="home_team my_team_saved">
                                <img src="" alt="" class="home_team_logo">
                                <h2 class="home_team_name">Houston Rockets</h2>
                            </div>

                            <div class="score">
                                <span class="home_score">120</span>
                                <span>:</span>
                                <span class="team_score">105</span>
                            </div>

                            <div class="away_team">
                                <img src="" alt="" class="away_team_logo">
                                <h2 class="away_team_name">San Antonio Spurs</h2>
                            </div>
                        </div>

                    </div>
                    

                </div>

                <div class="my_league_list">

                    <div class="league_name">
                        <img src="" alt="" class="league_logo">
                        <h2 class="league_name">EuroLeague</h2>
                    </div>
                    
                    <div class="my_league_teams">

                        <div class="team-score">
                            <div class="home_team my_team_saved">
                                <img src="" alt="" class="home_team_logo">
                                <h2 class="home_team_name">Real Madrid</h2>
                            </div>

                            <div class="score">
                                <span class="home_score">150</span>
                                <span>:</span>
                                <span class="team_score">90</span>
                            </div>

                            <div class="away_team">
                                <img src="" alt="" class="away_team_logo">
                                <h2 class="away_team_name">Barcelona</h2>
                            </div>
                        </div>

                        
                    </div>


                </div>

            </div>
        </div>
        




    </div>   
</div>



{% endblock %}
