{% extends "dry-layout.html" %}

{% block title %} Register - FanScape Game Tracker {% endblock %}

{% block content %}
<div class="register">

    <div class="register_head">
        <img src="/static/images/logo.png" alt="">
        <h1>Register for FanScape</h1>
    </div>

    <form action="/register" method="post">

        <label for="name">Name:</label>
        <input type="text" name="name">

        <label for="username">Username</label>
        <input type="text" name="username">

        <label for="password">Password</label>
        <input type="text" name="passwword">

        <label for="email">Password</label>
        <input type="text" name="email">

        <div class="birth-day">
            <input type="number" name="birth-month" max="12" min="1" maxlength="2" minlength="1">        
            <input type="number" name="birth-day" max="31" min="1" maxlength="2" minlength="1">
            <input type="number" name="birth-year" max="2026" min="1970" maxlength="4" minlength="4">
        </div>

        <button type="submit">Log in</button>
    </form>

</div>
{% endblock %}

