{% extends "layout.html" %}

{% block title %} Your Teams - FanScape Game Tracker {% endblock %}

{% block content %}
// User are recommended teams and they can see all of the games for the team that they like by sport
<div class="recommended_teams">
    <h1>View New Teams</h1>
    <div class="team">
        <div class="domestic_league">LaLiga</div>
        <div class="team-abt">
            <img src="" alt="" class="comp_logo">
            <h4 class="comp_name">Villareal</h4>
        </div>
    </div>

    <div class="team">
        <div class="domestic_league">Bundesliga</div>
        <div class="team-abt">
            <img src="" alt="" class="comp_logo">
            <h4 class="comp_name">RB Leipzig</h4>
        </div>
    </div>

    <div class="team">
        <div class="domestic_league">National Basketball Association</div>
        <div class="team-abt">
            <img src="" alt="" class="comp_logo">
            <h4 class="comp_name">Toronto Raptors</h4>
        </div>
    </div>

    <div class="team">
        <div class="domestic_league">National Football League</div>
        <div class="team-abt">
            <img src="" alt="" class="comp_logo">
            <h4 class="comp_name">Baltimore Ravens</h4>
        </div>
    </div>
</div>
<div class="view_favorite_teams" id="view_saved_games">View More <span><i class="fa-solid fa-angle-down"></i></span></div>


<div class="favorite_teams">
    <h1>Your Favorite Teams</h1>
    <div class="team">
        <div class="domestic_league">Premier League</div>
        <div class="team-abt">
            <img src="" alt="" class="comp_logo">
            <h4 class="comp_name">Manchester United</h4>
        </div>
    </div>

    <div class="team">
        <div class="domestic_league">LaLigs</div>
        <div class="team-abt">
            <img src="" alt="" class="comp_logo">
            <h4 class="comp_name">Real Madrid</h4>
        </div>
    </div>

    <div class="team">
        <div class="domestic_league">National Basketball Association</div>
        <div class="team-abt">
            <img src="" alt="" class="comp_logo">
            <h4 class="comp_name">Los Angeles Lakers</h4>
        </div>
    </div>

    <div class="team">
        <div class="domestic_league">National Football League</div>
        <div class="team-abt">
            <img src="" alt="" class="comp_logo">
            <h4 class="comp_name">Baltimore Ravens</h4>
        </div>
    </div>
</div>
<div class="view_favorite_teams" id="view_saved_games">View More <span><i class="fa-solid fa-angle-down"></i></span></div>
{% endblock %}